# dependencies
node_modules/

# browser test artifacts
test-results/
playwright-report/

# Next.js build output
.next/
out/

# production
build/

# env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
